@tailwind base;
@tailwind components;

@font-face {
    font-family: 'ZapfinoLinotypeOne';
    src: url('/fonts/ZapfinoLinotypeOne.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'ZapfinoLinotypeOne', sans-serif;
    font-size: 60px;
    color: #be1621;
}

@media (max-width: 768px) {
    /* Ajusta el punto de ruptura según tus necesidades */
    h1 {
        margin-top: 25px;
        font-size: 40px; /* Tamaño de fuente reducido a la mitad */
        line-height: 30px !important;
    }
}

@tailwind utilities;

nav a {
    color: #1d1d1d; /* Color del texto del enlace */
    text-decoration: none; /* Remueve el subrayado por defecto */
    padding: 8px 12px; /* Añade algo de espacio alrededor del enlace */
    transition: color 0.3s ease, border-bottom 0.3s ease; /* Transición suave */
    border-bottom: 2px solid transparent; /* Añade un borde inferior invisible */
    font-size: 12px;
}

nav a:hover {
    color: #d66d6d; /* Cambia el color al pasar el cursor */
    border-bottom: 2px solid #d66d6d; /* Subraya el enlace al pasar el cursor */
}

.hero {
    margin-top: -100px;
    z-index: -3;
}

/* Aplica el fondo en mosaico al contenedor exterior */
.bg-mosaic {
    background-image: url('/img/splash_bkg_01.jpg'); /* Ajusta la ruta según donde hayas colocado la imagen */
    background-repeat: repeat;
    background-size: auto; /* Para mantener el tamaño original de la imagen en el mosaico */
    min-height: 100vh; /* Asegura que cubra al menos toda la altura de la ventana */
    padding: 20px; /* Añade padding si es necesario para separar el contenido del borde */
}

/* Establece el fondo blanco para el cuerpo del contenido */
.content-body {
    background-color: white;
    padding: 20px;
    border-radius: 8px; /* Opcional: para bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Opcional: para añadir sombra */
}

.custom-button {
    display: inline-flex;
    align-items: center;
    justify-content: center; /* Centra el contenido dentro del círculo */
    width: 30px; /* Ajusta el tamaño del círculo */
    height: 30px; /* Asegura que el ancho y alto sean iguales */
    border: 1px solid #ffffff; /* Color del borde */
    background-color: #f7fafc;
    border-radius: 50%; /* Hace el botón completamente circular */
    text-decoration: none;
    color: #1a202c; /* Color del texto */
    transition: all 0.3s ease;
}

.custom-button:hover {
    background-color: #f7fafc; /* Color de fondo al pasar el cursor */
    border-color: #cbd5e0; /* Color del borde al pasar el cursor */
}

.icon {
    margin-right: 0px; /* Espacio entre el icono y el texto */
}

.icon img {
    display: block;
}

.text-footer-sign {
    font-size: 10px;
}

.rc-card-title {
    color: #be1621 !important; /* Rojo personalizado */
    padding-top: 10px;
}

/* Ocultar el botón "Jump to" */
.SelecterLabel-sc-168kw5q-4.fVncYp {
    display: none;
}

/* Ocultar el botón "Change layout" */
.SelecterLabel-sc-168kw5q-4.fVncYp {
    display: none;
}

/* Ocultar el botón "Change density" */
.SelecterLabel-sc-168kw5q-4.fVncYp {
    display: none;
}
